* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #525c65;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}